# RIP forgot to commit gitignore file
#
#

# Byte-compiled / optimized / DLL files
__pycache__/
.pyc
website/__pycache__/

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

travel123.sqlite