{% extends 'base.html' %} {% block header %}

<div>
	<div class="jumbotron jumbotron-fluid jumbotronback py-2 h-50">
		<div class="bg-dark container-sm rounded border border-5">
			<!-- Content grid (columns) -->
			<div class="row row-cols-auto text-center">
				<div class="col-md-4 container my-auto">
					{% if current_user.is_authenticated %}

					<h1 class="display-4 text-light">Welcome {{current_user.name}}</h1>
					{% else %}

					<h1 class="display-4 text-light">Welcome Guest</h1>
					<p style="text-align: center" class="text-light">
						<i>
							<b>
								Please Login if you have an account. Alternatively register for
								an account.
							</b>
						</i>
					</p>
					{% endif %}
					<p class="lead text-light">
						<!-- MusicKim is a music event company that provides a variety of music events for all ages. -->
						<!-- Pain free online ticketing & event registrations for music events for all ages -->
						MusicKim is Australia's Leading Music Concert Finder, designed for
						all popularised genres such as K-pop and Rap. Once founded, you will
						be able to examine the event further, book, and make payment (only
						when you're loged in). Below are the six most popular, searched
						concerts, so please feel free to explore!
					</p>
					<!-- 
          <p class="lead">
            <a
              class="btn btn-primary btn-lg"
              href="./event_admin.html"
              role="button"
              >CREATE EVENT</a
            >
          </p>
          -->
				</div>

				<div class="col-md-6 container">
					<!-- <iframe class="embed-responsive-item"
                  src="https://www.youtube.com/embed/videoseries?list=PLsyvDWwjkTqtOmqAiTzzfHspTAztB-udL"
                  frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>
               </iframe> -->
					<div class="ratio ratio-16x9">
						<iframe src="https://www.youtube.com/embed/videoseries?list=PLsyvDWwjkTqtOmqAiTzzfHspTAztB-udL"
							title="YouTube video" allowfullscreen></iframe>
					</div>
				</div>

				<!-- <p class="lead">
               MusicKim is a music event company that provides a variety of music events for all ages.
               Pain free online ticketing & event registrations for music events for all ages
            </p> -->
			</div>
		</div>

		<div class="container">
			<div class="row justify-content-center mt-5">
				<div class="col-md-8">
					<div class="card shadow p-5 mb-1 bg-light">
						<h1 class="text-center mb-3">Search for events...</h1>

						<form class="d-flex">
							<input class="form-control me-2" type="search" placeholder="Event Name.." aria-label="Search" />
							<button class="btn btn-outline-success" type="submit">
								Search
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %} {% block content %}
<!-- steps section -->
<section class="steps">
	<div class="container-fluid py-3 px-5">
		<div class="row">
			<div class="col-md-4">
				<div class="card text-center">
					<div class="card-body">
						<img class="card-img-top" style="width: 25%;" src="static/img/step1.png" alt="Step 1">
						<h5 class="card-text text-info">
							Register your details
						</h5>
						<p class="card-text">
							Register your details & choose your own event web address (eg www.musickim.com/yourname)
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card text-center">
					<div class="card-body">
						<img class="card-img-top" style="width: 25%;" src="static/img/step2.png" alt="Step 1">
						<h5 class="card-text text-warning">
							Build your event page
						</h5>
						<p class="card-text">
							Choose from our professionally designed templates and customise the look and feel
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card text-center">
					<div class="card-body">
						<img class="card-img-top" style="width: 25%;" src="static/img/step3.png" alt="Step 3">
						<h5 class="card-text text-success">
							Promote your event
						</h5>
						<p class="card-text">
							Start promoting your event page to your community, and watch the sales
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- </div> -->

		<!-- link to event creation -->
		<div class="d-flex justify-content-center text-center pt-3">
			<a style="display:inline-block;" href="{{ url_for('destination.create') }}">
				<!-- center image -->
				<img src="static/img/ticket-btn.png" alt="Register">
			</a>
		</div>

</section>

<!-- content section -->
<section class="content">
	{% for destination in destinations %}
	<a href="{{url_for('destination.show', id=destination.id)}}">


		<div class="card-media">
			<!-- media container -->
			<div class="card-media-object-container">
				<div class="card-media-object" style="background-image: url({{destination.image}});"></div>
				<span class="card-media-object-tag subtle">{{destination.Event_status}}</span>
				<ul class="card-media-object-social-list">
					<li>
						<img src="https://s10.postimg.cc/3rjjbzcvd/profile_f.jpg" class="">
					</li>
					<li>
						<img src="https://s16.postimg.cc/b0j0djh79/profile_0_f.jpg" class="">
					</li>
					<li class="card-media-object-social-list-item-additional">
						<span>+2</span>
					</li>
				</ul>
			</div>
			<!-- body container -->
			<div class="card-media-body">
				<div class="card-media-body-top">
					<span class="subtle">${{destination.ticket_price}}</span>
					<div class="card-media-body-top-icons u-float-right">
						<svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 0h24v24H0z" fill="none" />
							<path
								d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
						</svg>
						<svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
							<path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
							<path d="M0 0h24v24H0z" fill="none" />
						</svg>
					</div>
				</div>
				<span class="card-media-body-heading">{{destination.name}}</span>
				<div class="card-media-body-supporting-bottom">
					<span class="card-media-body-supporting-bottom-text subtle">{{destination.description}}</span>
					<span class="card-media-body-supporting-bottom-text subtle u-float-right">{{destination.starting_date}}
						&ndash; {{destination.closing_date}}</span>
				</div>
				<div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
					<span class="card-media-body-supporting-bottom-text subtle">Tickets Left:
						{{destination.ticket_num}}</span>
					<a href="#/" class="card-media-body-supporting-bottom-text card-media-link u-float-right">VIEW
						TICKETS</a>
				</div>
			</div>
		</div>
	</a>
	{% endfor %}
</section>


{% endblock %}