{% extends 'base.html' %}

{% block header %}
      <!--Jumbotron-->
      <div class="container">
         <div class="row justify-content-center mt-5 pb-4">
            <div class="col-md-8">
               <div class="card shadow p-5 mb-5 bg-light">

                  {% if current_user.is_authenticated %}

                  <h1 class="text-center mb-3">Welcome {{current_user.name}}</h1>
                  {% else %}
                  <h1 class="text-center mb-3">Welcome Guest</h1> 
                  <p style = "text-align: center; "><i><b>Please Login if you have an account. Alternatively register for an account.</b></i></p>
                  {% endif %}
                  <p style = "text-align: center; ">MusicKim is Australia's Leading Music Concert Finder, designed for all popularised genres such as K-pop and Rap. Once founded, you will be able to examine the event further, book, and make payment (only when you're loged in). Below are the six most popular, searched concerts, so please feel free to explore!</p>


               </div>
            </div>
         </div>
      </div>
{% endblock %}

{% block content %}   
      <div class="container">
         <div class="row mt-5 mb-5 justify-content-center">
            <div class="col-md-10">
               <div class="media border p-3 d-flex justify-content-start">
                  <img class="align-self-center me-3" style="max-width:120px"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Earth_Western_Hemisphere_transparent_background.png/600px-Earth_Western_Hemisphere_transparent_background.png"
                     alt="Planet Earth">
                  <div class="align-self-center media-body">
                     <h5 class="mt-0">Find the best destinations on earth</h5>
                     <p class="d-none d-sm-block">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                        scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                        turpis. Fusce condimentum nunc ac nisi vulputate fringilla.</p>
                     <a href="#" class="btn btn-primary">Join Now</a>
                  </div>
               </div>
            </div>
         </div>

         <div class="card-group">
            {% for destination in destinations %}
            <div class="col-md-4 col-sm-6">

               <div class="card" style = "margin-top: 10px;">
                  <img class="card-img-top"
                     src={{destination.image}} alt="destination picture" style = "object-fit: cover; width: 100%; height: 300px;">
                  <div class="card-body">
                     <h5 class="card-title">{{destination.name}}</h5>
                     <p class="card-text">{{destination.description}}</p>
                  </div>
                  <div class="card-footer"><a href = "{{url_for('destination.show', id=destination.id)}}" class ="btn btn-danger"> View Details </a></div>
               </div>
            </div>

         
            {% endfor %}
         </div>
      </div>
{% endblock %}